h1{

}
.container {
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; 
}

img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  float: right;
  float: initial;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  width: auto;
  height: 300px;
}
.userName {
  width: fit-content;
  border: 7px solid rgb(240, 124, 58);
  padding: 50px;
  margin: 20px;
}
.toppings {
  width: fit-content;
  border: 7px solid rgb(240, 124, 58);
  padding: 50px;
  margin: 20px;
}
.size {
  width: fit-content;
  border: 7px solid rgb(240, 124, 58);
  padding: 50px;
  margin: 20px;
}
.reciept {
  display: none;
  width: fit-content;
  border: 7px solid rgb(240, 124, 58);
  padding: 50px;
  margin: 20px;
}
body {
  text-align: center;
}