
.jumbotron-reciept {
 display: none;
}

h1{

}
.container {
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  float: right;
  float: initial;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  width: auto;
  height: 300px;
}
.jumbotron-title {
  width: fit-content;
  height: fit-content;
}

